<footer>
  <div class="footer-container">
    <div class="author">
      <a href="https://github.com/cabrerac" target="_blank"><i class="fab fa-github"></i> Created by Christian Cabrera-Jojoa</a>
    </div>
    <div class="copy">
      &copy; 2023
    </div>
    <div class="acknowledge">
      Powered by <a href="https://writings.stephenwolfram.com/2023/02/what-is-chatgpt-doing-and-why-does-it-work/" target="_blank"><img src="chatgpt-logo.png" alt="chatgpt logo"> ChatGPT</a>
    </div>
  </div>
</footer>
