<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p>&copy; 2023 Christian Cabrera Jojoa</p>
        <p>Code available at <a href="https://github.com/cabrerac/cabrerac.github.io">GitHub</a> | Powered by <a href="https://openai.com/">ChatGPT3</a></p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="github" href="https://github.com/cabrerac"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


