<footer class="site-footer">
  <div class="footer-section">
    <span> Created by <i class="fa fa-github" style="color: #6CB4EE;"></i>Christian Cabrera Jojoa &copy; 2023</span>
  </div>
  <div class="footer-section">
    <span>Powered by <i class="fa fa-heart" style="color: #6CB4EE;"></i><a href="https://openai.com/blog/chat-gpt-3/">ChatGPT3</a></span>
  </div>
  <div class="footer-section">
    <span><i class="fa fa-github" style="color: #6CB4EE;"></i><a href="https://github.com/cabrerac"></a></sp>  
  </div>
</footer>
