<header>
  <div>
    <nav>
      <a href="/" class="nav-link{% if page.url == '/' %} active{% endif %}">Home</a>
      <a href="/research/" class="nav-link{% if page.url == '/research/' %} active{% endif %}">Research</a>
      <a href="/projects/" class="nav-link{% if page.url == '/projects/' %} active{% endif %}">Projects</a>
      <a href="/teaching/" class="nav-link{% if page.url == '/teaching/' %} active{% endif %}">Teaching</a>
      <a href="/talks/" class="nav-link{% if page.url == '/talks/' %} active{% endif %}">Talks</a>
      <a href="/students/" class="nav-link{% if page.url == '/students/' %} active{% endif %}">Students</a>
      <a href="/contact/" class="nav-link{% if page.url == '/contact/' %} active{% endif %}">Contact</a>
    </nav>
  </div>
</header>
