{% if site.lectures %}
  {% assign course_lectures = site.lectures | where: "course_code", page.course_code | sort: 'session' %}
  {% if course_lectures.size > 0 %}
    <br>
    <h2>Lectures</h2>
    <ul>
    {% for lecture in course_lectures %}
      <li>
        <a href="{{ lecture.permalink }}" target="_blank">
          <strong>{{ lecture.title }}</strong>
        </a><br>
        Date: {{ lecture.date | date: "%B %d, %Y" }}<br>
        Description: {{ lecture.description }}<br>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}