{% if site.data.students %}
{% assign current_students = site.data.students.current | sort: 'start_year' | reverse %}
{% assign past_students = site.data.students.past | sort: 'graduation_year' | reverse %}

{% if current_students.size > 0 %}
<h2>Current Students</h2><br>
{% for student in current_students %}
<b>{{ student.name }}</b><br>
{{ student.degree }}<br>
{{ student.role }}<br>
{{ student.institution }}<br>
Project: {{ student.project }}<br>
Started: {{ student.start_year }}<br>
{% endfor %}
{% endif %}

{% if past_students.size > 0 %}
<br><h2>Past Students</h2><br>
{% for student in past_students %}
<b>{{ student.name }}</b><br>
{{ student.degree }}<br>
{{ student.institution }}<br>
Project: {{ student.project }}<br>
Graduated: {{ student.graduation_year }}<br>
{% endfor %}
{% endif %}
{% endif %}
