:root {
  --primary-color: #1E1E1E;
  --secondary-color: #FFFFFF;
  --accent-color: #6CB4EE;
}

body {
  font-family: Consolas, monospace;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--primary-color);
  }

  nav ul li {
    margin: 10px;
  }

  nav ul li:first-child {
    margin-top: 0;
  }

  #toggle-menu {
    display: block;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--secondary-color);
    margin: 10px;
  }
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

nav a:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  transition: background-color 0.2s ease-out;
}

nav button {
  display: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px;
  margin-right: 10px;
}

nav button:hover {
  background-color: #549FDE;
  transition: background-color 0.2s ease-out;
}

@media (max-width: 768px) {
  nav a {
    display: none;
  }
  nav button {
    display: block;
  }
  .menu-open nav a {
    display: block;
  }
}

main {
  margin-top: 80px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px 0;
  position: fixed;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a {
  color: var(--secondary-color);
  text-decoration: none;
}

.author i {
  font-size: 24px;
  margin-right: 5px;
}

.copy {
  font-size: 14px;
}

.acknowledge a {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.acknowledge img {
  height: 20px;
  margin-right: 5px;
}
