<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="container {{ page.body_class }}{% if page.sidebar %} with-sidebar{% endif %}">
    <a class="skip-link screen-reader-text" href="#content">{{ site.data.translation.skip_to_content }}</a>
    {% include header.html %}
    <main id="content" class="main{% if page.sidebar %} main--with-sidebar{% endif %}">
      <h1>{{ page.title }}</h1> <!-- Display course title -->
      <strong>Description:</strong> {{ page.description }}<br> <!-- Display description -->
      <strong>Department:</strong> {{ page.department }}<br> <!-- Display department -->
      <strong>Institution:</strong> {{ page.institution }}<br> <!-- Display institution -->
      <strong>Lectures:</strong> {{ page.lectures }}<br> <!-- Display number of lectures -->
      <strong>Hours:</strong> {{ page.hours }}<br> <!-- Display number of hours -->
      <strong>From:</strong> {{ page.start_date | date: "%B %d, %Y" }}<br> <!-- Display start date -->
      <strong>To:</strong> {{ page.end_date | date: "%B %d, %Y" }}<br> <!-- Display end date -->
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
